In [1]:
from pandas import Series, DataFrame
import pandas as pd
import numpy as np
# A Series is a one-dimensional array-like object containing an array of data and an associated array of data labels, called its index
obj1 = Series([4,7,-5,3])
obj2 = Series([4,7,-5,3], index=['d', 'b', 'a', 'c'])
print obj1.values
print obj2.index
obj2['d'] = 6
print obj2[['c','a', 'c', 'd']]
print obj2[obj2>0]
print np.exp(obj2)

[ 4  7 -5  3]
Index([u'd', u'b', u'a', u'c'], dtype='object')
c    3
a   -5
c    3
d    6
dtype: int64
d    6
b    7
c    3
dtype: int64
d     403.428793
b    1096.633158
a       0.006738
c      20.085537
dtype: float64

In [4]:
# create a Series by passing a Python dict
sdata = {'Ohio': 35000, 'Texas': 71000, 'Oregon': 16000, 'Utah': 5000}
obj3 = Series(sdata)
print obj3
states = ['California', 'Ohio', 'Oregon', 'Texas']
obj4 = Series(sdata, index = states)
print pd.isnull(obj4)
print obj4.isnull()
print pd.notnull(obj4)
print obj3+obj4    # it automatically aligns differently indexed data in arithmetic operations

# Both the Series object itself and its index have a name attribute
obj4.name = 'population'
obj4.index.name = 'state'
# A Series’s index can be altered in place by assignment
obj1.index = ['Bob', 'Steve', 'Jeff', 'Ryan']

Ohio      35000
Oregon    16000
Texas     71000
Utah       5000
dtype: int64
California     True
Ohio          False
Oregon        False
Texas         False
dtype: bool
California     True
Ohio          False
Oregon        False
Texas         False
dtype: bool
California    False
Ohio           True
Oregon         True
Texas          True
dtype: bool
California         NaN
Ohio           70000.0
Oregon         32000.0
Texas         142000.0
Utah               NaN
dtype: float64

In [18]:
# DataFrame
# construct a DataFrame from a dict of equal-length lists or NumPy arrays
data = {'state': ['Ohio', 'Ohio', 'Ohio', 'Nevada', 'Nevada'], 'year': [2000, 2001, 2002, 2001, 2002],
'pop': [1.5, 1.7, 3.6, 2.4, 2.9]}
frame = DataFrame(data)
print frame
frame2 = DataFrame(data, columns=['year', 'state', 'pop', 'debt'], index=['one', 'two', 'three', 'four', 'five'])
print frame2
print frame2.columns
print frame2['state']  # A column in a DataFrame can be retrieved as a Series either by dict-like notation or by attribute
print frame2.year
print frame2.ix['three']  # retrieve rows by .ix method
frame2['debt'] = np.arange(5)     # Columns can be modified by assignment
val = Series([-1.2, -1.5, -1.7], index=['two', 'four', 'five'])
frame2['debt'] = val      # assign a Series
frame2['eastern'] = frame2.state == 'Ohio'
print frame2
del frame2['eastern']

# Another common form of data is a nested dict of dicts format
pop = {'Nevada': {'2001': 2.4, '2002': 2.9}, 'Ohio': {'2000': 1.5, '2001': 1.7, '2002': 3.6}}
frame3 = DataFrame(pop)
print frame3
print frame3.T    # Transpose
DataFrame(pop, index=[2001, 2002, 2003])
pdata = {'Ohio': frame3['Ohio'][:-1], 'Nevada': frame3['Nevada'][:2]}
frame3.index.name = 'year'; frame3.columns.name = 'state'   # DataFrame's index and column names
print frame3.values

   pop   state  year
0  1.5    Ohio  2000
1  1.7    Ohio  2001
2  3.6    Ohio  2002
3  2.4  Nevada  2001
4  2.9  Nevada  2002
       year   state  pop debt
one    2000    Ohio  1.5  NaN
two    2001    Ohio  1.7  NaN
three  2002    Ohio  3.6  NaN
four   2001  Nevada  2.4  NaN
five   2002  Nevada  2.9  NaN
Index([u'year', u'state', u'pop', u'debt'], dtype='object')
one        Ohio
two        Ohio
three      Ohio
four     Nevada
five     Nevada
Name: state, dtype: object
one      2000
two      2001
three    2002
four     2001
five     2002
Name: year, dtype: int64
year     2002
state    Ohio
pop       3.6
debt      NaN
Name: three, dtype: object
       year   state  pop  debt eastern
one    2000    Ohio  1.5   NaN    True
two    2001    Ohio  1.7  -1.2    True
three  2002    Ohio  3.6   NaN    True
four   2001  Nevada  2.4  -1.5   False
five   2002  Nevada  2.9  -1.7   False
      Nevada  Ohio
2000     NaN   1.5
2001     2.4   1.7
2002     2.9   3.6
        2000  2001  2002
Nevada   NaN   2.4   2.9
Ohio     1.5   1.7   3.6
[[ nan  1.5]
 [ 2.4  1.7]
 [ 2.9  3.6]]

In [23]:
# Index Objects, immutable and thus can’t be modified by the user
obj = Series(range(3), index = ['a', 'b', 'c'])
print obj.index[1:]
idx = pd.Index(np.arange(3))
obj2 = Series([1.5, -2.5, 0], index = idx)
print obj2.index is idx
# Lei: index is like a list/np array, see Index methods and propertieson p138

Index([u'b', u'c'], dtype='object')
True

In [33]:
# Reindexing
obj3 = obj.reindex(['a', 'b', 'c', 'd', 'e'])
print obj3
obj4 = obj.reindex(['a', 'b', 'c', 'd', 'e'], fill_value=0)   # fill_value option
print obj4
obj5 = Series(['blue', 'purple', 'yellow'], index = [0,2,4])
obj6 = obj5.reindex(range(6), method = 'ffill')   # method option(ffill, bfill)
print obj6
frame = DataFrame(np.arange(9).reshape(3,3), index = ['a','c','d'], columns = ['Ohio', 'Texas', 'California'])
states = ['Texas', 'Utah', 'California']
frame2 = frame.reindex(index=['a', 'b', 'c', 'd'], method='ffill', columns=states)
print frame2
frame.ix[['a', 'b', 'c', 'd'], states]

a    0.0
b    1.0
c    2.0
d    NaN
e    NaN
dtype: float64
a    0
b    1
c    2
d    0
e    0
dtype: int64
0      blue
1      blue
2    purple
3    purple
4    yellow
5    yellow
dtype: object
   Texas  Utah  California
a      1   NaN           2
b      1   NaN           2
c      4   NaN           5
d      7   NaN           8

   Texas  Utah  California
a    1.0   NaN         2.0
b    NaN   NaN         NaN
c    4.0   NaN         5.0
d    7.0   NaN         8.0

In [48]:
# Dropping entries from an axis
obj7 = obj.drop(['b', 'c'])
frame3 = frame2.drop(['b'])
frame4 = frame2.drop(['Utah', 'Texas'], axis = 1)
print frame3
print frame3[['Utah', 'California']]
print frame3[frame3['Texas']>3]
print frame3.ix[:'Utah', ['c', 'd']]
print frame3.ix[frame3['California']>3, 'Utah':]

   Texas  Utah  California
a      1   NaN           2
c      4   NaN           5
d      7   NaN           8
   Utah  California
a   NaN           2
c   NaN           5
d   NaN           8
   Texas  Utah  California
c      4   NaN           5
d      7   NaN           8
Empty DataFrame
Columns: [c, d]
Index: []
   Utah  California
c   NaN           5
d   NaN           8

In [51]:
# Arithmetic and data alignment
# When adding together objects, if any index pairs are not the same, the respective index in the result will be the union of the index pairs
df1 = DataFrame(np.arange(12.).reshape((3, 4)), columns=list('abcd'))
df2 = DataFrame(np.arange(20.).reshape((4, 5)), columns=list('abcde'))
print df1 + df2
print df1.add(df2, fill_value = 0)
df3 = df1.reindex(columns = df2.columns, fill_value = 0)
print df3

      a     b     c     d   e
0   0.0   2.0   4.0   6.0 NaN
1   9.0  11.0  13.0  15.0 NaN
2  18.0  20.0  22.0  24.0 NaN
3   NaN   NaN   NaN   NaN NaN
      a     b     c     d     e
0   0.0   2.0   4.0   6.0   4.0
1   9.0  11.0  13.0  15.0   9.0
2  18.0  20.0  22.0  24.0  14.0
3  15.0  16.0  17.0  18.0  19.0
     a    b     c     d  e
0  0.0  1.0   2.0   3.0  0
1  4.0  5.0   6.0   7.0  0
2  8.0  9.0  10.0  11.0  0

In [63]:
frame = DataFrame(np.arange(12).reshape(4,3), columns = ['b', 'd', 'e'], index = ['Utah', 'Ohio', 'Texas', 'Oregon'])
series = frame.ix[0]
print frame
print frame - series
series2 = Series(np.arange(3), index = ['b', 'e', 'f'])
print frame + series2
series3 = frame['d']
print frame.sub(series3, axis = 0)

        b   d   e
Utah    0   1   2
Ohio    3   4   5
Texas   6   7   8
Oregon  9  10  11
        b  d  e
Utah    0  0  0
Ohio    3  3  3
Texas   6  6  6
Oregon  9  9  9
          b   d     e   f
Utah    0.0 NaN   3.0 NaN
Ohio    3.0 NaN   6.0 NaN
Texas   6.0 NaN   9.0 NaN
Oregon  9.0 NaN  12.0 NaN
        b  d  e
Utah   -1  0  1
Ohio   -1  0  1
Texas  -1  0  1
Oregon -1  0  1

In [72]:
frame = DataFrame(np.random.randn(4, 3), columns=list('bde'), index=['Utah', 'Ohio', 'Texas', 'Oregon'])
print frame.abs()   # same as np.abs(frame)
f = lambda x: x.max() - x.min()
print frame.apply(f)    # applying a function on 1D arrays to each column or row
print frame.apply(f, axis = 1)
print frame.sum(axis = 1)
def f(x):
    return Series([x.max(),x.min()], index = ['max', 'min'])
frame.apply(f, axis = 1)
fmt = lambda x: '%.2f' % x
frame.applymap(fmt)     # Element-wise Python functions
frame['e'].map(fmt)     # Series has a map method for applying an ele- ment-wise function

               b         d         e
Utah    0.597672  0.062091  1.956333
Ohio    0.631712  0.116376  0.938091
Texas   0.429161  1.285990  1.415282
Oregon  1.118633  1.952238  0.942146
b    1.716305
d    3.238228
e    2.898479
dtype: float64
Utah      2.554005
Ohio      0.821715
Texas     0.986121
Oregon    3.070871
dtype: float64
Utah      1.296570
Ohio      1.686180
Texas     3.130433
Oregon   -1.775751
dtype: float64

            b      d      e
Utah    -0.60  -0.06   1.96
Ohio     0.63   0.12   0.94
Texas    0.43   1.29   1.42
Oregon   1.12  -1.95  -0.94

In [83]:
# Sorting and ranking
obj = Series(range(4), index=['d', 'a', 'b', 'c'])
print obj.sort_index()
frame = DataFrame(np.arange(8).reshape((2, 4)), index=['three', 'one'], columns=['d', 'a', 'b', 'c'])
print frame
print frame.sort_index()
print frame.sort_index(axis = 1, ascending = False)

print obj.sort_values()
frame = DataFrame({'b': [4, 7, -3, 2], 'a': [0, 1, 0, 1]})
print frame.sort_values(by=['a', 'b'])

obj = Series([7, -5, 7, 4, 4, 2, 0, 4])
print obj.rank()
print obj.rank(method = 'first')    # Ranks can also be assigned according to the order they’re observed in the data
print '*'*10
print obj.rank(ascending = False)
print obj.rank(ascending = False, method = 'max')

frame = DataFrame({'b': [4.3, 7, -3, 2], 'a': [0, 1, 0, 1], 'c': [-2, 5, 8, -2.5]})
print frame.rank(axis=1)

a    1
b    2
c    3
d    0
dtype: int64
       d  a  b  c
three  0  1  2  3
one    4  5  6  7
       d  a  b  c
one    4  5  6  7
three  0  1  2  3
       d  c  b  a
three  0  3  2  1
one    4  7  6  5
d    0
a    1
b    2
c    3
dtype: int64
   a  b
2  0 -3
0  0  4
3  1  2
1  1  7
0    7.5
1    1.0
2    7.5
3    5.0
4    5.0
5    3.0
6    2.0
7    5.0
dtype: float64
0    7.0
1    1.0
2    8.0
3    4.0
4    5.0
5    3.0
6    2.0
7    6.0
dtype: float64
**********
0    1.5
1    8.0
2    1.5
3    4.0
4    4.0
5    6.0
6    7.0
7    4.0
dtype: float64
0    2.0
1    8.0
2    2.0
3    5.0
4    5.0
5    6.0
6    7.0
7    5.0
dtype: float64
     a    b    c
0  2.0  3.0  1.0
1  1.0  3.0  2.0
2  2.0  1.0  3.0
3  2.0  3.0  1.0

In [85]:
# Axis indexes with duplicate values
obj = Series(range(5), index=['a', 'a', 'b', 'b', 'c'])
print obj.index.is_unique
df = DataFrame(np.random.randn(4, 3), index=['a', 'a', 'b', 'b'])
print df.ix['b']

False
          0         1         2
b -0.280810 -0.288925 -0.883637
b -0.544568  0.319316 -1.445971

In [93]:
# Summarizing and Computing Descriptive Statistics
# Descriptive and summary statistics: p155
df = DataFrame([[1.4, np.nan], [7.1, -4.5], [np.nan, np.nan], [0.75, -1.3]], index=['a', 'b', 'c', 'd'], columns=['one', 'two'])
print df
print df.sum(axis = 1)
print df.mean(axis = 1, skipna = False)
print df.idxmax(axis = 1)   # idxmin and idxmax, return indirect statistics like the index value where the minimum or maximum values are attained
print df.cumsum()
print df.describe()

    one  two
a  1.40  NaN
b  7.10 -4.5
c   NaN  NaN
d  0.75 -1.3
a    1.40
b    2.60
c    0.00
d   -0.55
dtype: float64
a      NaN
b    1.300
c      NaN
d   -0.275
dtype: float64
a    one
b    one
c    NaN
d    one
dtype: object
    one  two
a  1.40  NaN
b  8.50 -4.5
c   NaN  NaN
d  9.25 -5.8
            one       two
count  3.000000  2.000000
mean   3.083333 -2.900000
std    3.493685  2.262742
min    0.750000 -4.500000
25%    1.075000 -3.700000
50%    1.400000 -2.900000
75%    4.250000 -2.100000
max    7.100000 -1.300000

In [13]:
# Correlation and Covariance
import pandas_datareader.data as web
all_data = {}
for ticker in ['AAPL', 'IBM', 'MSFT', 'GOOG']:
    all_data[ticker] = web.get_data_yahoo(ticker, '1/1/2000', '1/1/2010')
price = DataFrame({tic: data['Adj Close'] for tic, data in all_data.iteritems()})
volume = DataFrame({tic: data['Volume'] for tic, data in all_data.iteritems()})
returns = price.pct_change()
print returns.tail()
print returns['MSFT'].corr(returns['IBM'])
print returns.MSFT.cov(returns.IBM)
print returns.corr()
print returns.cov()
print returns.corrwith(returns.IBM)
print returns.corrwith(volume)   # passing a dataframe computes the correlations with matching column names

                AAPL      GOOG       IBM      MSFT
Date
2009-12-24  0.034339  0.011117  0.004385  0.002587
2009-12-28  0.012294  0.007098  0.013326  0.005484
2009-12-29 -0.011861 -0.005571 -0.003477  0.007058
2009-12-30  0.012147  0.005376  0.005461 -0.013699
2009-12-31 -0.004300 -0.004416 -0.012597 -0.015504
0.495979638628
0.000215957611487
          AAPL      GOOG       IBM      MSFT
AAPL  1.000000  0.470676  0.410011  0.424305
GOOG  0.470676  1.000000  0.390689  0.443587
IBM   0.410011  0.390689  1.000000  0.495980
MSFT  0.424305  0.443587  0.495980  1.000000
          AAPL      GOOG       IBM      MSFT
AAPL  0.001027  0.000303  0.000252  0.000309
GOOG  0.000303  0.000580  0.000142  0.000205
IBM   0.000252  0.000142  0.000367  0.000216
MSFT  0.000309  0.000205  0.000216  0.000516
AAPL    0.410011
GOOG    0.390689
IBM     1.000000
MSFT    0.495980
dtype: float64

In [27]:
# Unique Values, Value Counts, and Membership
obj = Series(['c', 'a', 'd', 'a', 'a', 'b', 'b', 'c', 'c'])
uniques = obj.unique()
uniques.sort()
print uniques
print obj.value_counts()
print pd.value_counts(obj, sort = False)
print obj[obj.isin(['b', 'c'])]

data = DataFrame({'Qu1': [1, 3, 4, 3, 4], 'Qu2': [2, 3, 1, 2, 3],'Qu3': [1, 5, 2, 4, 4]})
print data.apply(pd.value_counts).fillna(0)

['a' 'b' 'c' 'd']
c    3
a    3
b    2
d    1
dtype: int64
a    3
c    3
b    2
d    1
dtype: int64
0    c
5    b
6    b
7    c
8    c
dtype: object
   Qu1  Qu2  Qu3
1  1.0  1.0  1.0
2  0.0  2.0  1.0
3  2.0  2.0  0.0
4  2.0  0.0  2.0
5  0.0  0.0  1.0

In [44]:
# Handling Missing Data
string_data = Series(['aardvark', 'artichoke', np.nan, 'avocado'])
print string_data.isnull()

from numpy import nan as NA
data = Series([1, NA, 3.5, NA, 7])
print data.dropna()
print data[data.notnull()]
print data.fillna(0)

data = DataFrame([[1., 6.5, 3.], [1., NA, NA], [NA, NA, NA], [NA, 6.5, 3.]])
print data.dropna()    # dropna by default drops any row containing a missing value
print data.dropna(how = 'all')    # only drop rows that are all NA
data[4] = NA
print data.dropna(axis = 1, how = 'all')
print data.dropna(thresh = 2)     # keep only rows containing a certain number of observations

df = DataFrame(np.random.randn(7, 3))
df.ix[:4, 1] = NA; df.ix[:2, 2] = NA    # Calling fillna with a dict you can use a different fill value for each column
print df.fillna({1: 0.5, 3: -1})
print df.fillna(method = 'bfill')
print df.fillna(method = 'bfill', limit = 2)

0    False
1    False
2     True
3    False
dtype: bool
0    1.0
2    3.5
4    7.0
dtype: float64
0    1.0
2    3.5
4    7.0
dtype: float64
0    1.0
1    0.0
2    3.5
3    0.0
4    7.0
dtype: float64
     0    1    2
0  1.0  6.5  3.0
     0    1    2
0  1.0  6.5  3.0
1  1.0  NaN  NaN
3  NaN  6.5  3.0
     0    1    2
0  1.0  6.5  3.0
1  1.0  NaN  NaN
2  NaN  NaN  NaN
3  NaN  6.5  3.0
     0    1    2   4
0  1.0  6.5  3.0 NaN
3  NaN  6.5  3.0 NaN
          0         1         2
0  0.691853  0.500000       NaN
1  1.009187  0.500000       NaN
2 -1.100473  0.500000       NaN
3  1.185825  0.500000 -0.686701
4 -2.390311  0.500000 -0.805002
5 -0.315668  1.015902  2.741418
6 -0.639057  1.119608  0.633396
          0         1         2
0  0.691853  1.015902 -0.686701
1  1.009187  1.015902 -0.686701
2 -1.100473  1.015902 -0.686701
3  1.185825  1.015902 -0.686701
4 -2.390311  1.015902 -0.805002
5 -0.315668  1.015902  2.741418
6 -0.639057  1.119608  0.633396
          0         1         2
0  0.691853       NaN       NaN
1  1.009187       NaN -0.686701
2 -1.100473       NaN -0.686701
3  1.185825  1.015902 -0.686701
4 -2.390311  1.015902 -0.805002
5 -0.315668  1.015902  2.741418
6 -0.639057  1.119608  0.633396
          0         1         2
0  0.691853  0.523230  0.523230
1  1.009187  0.523230  0.523230
2 -1.100473  0.523230  0.523230
3  1.185825  0.523230 -0.686701
4 -2.390311  0.523230 -0.805002
5 -0.315668  1.015902  2.741418
6 -0.639057  1.119608  0.633396

In [59]:
# Hierarchical Indexing
data = Series(np.random.randn(10), index=[['a', 'a', 'a', 'b', 'b', 'b', 'c', 'c', 'd', 'd'], [1, 2, 3, 1, 2, 3, 1, 2, 2, 3]])
print data.index
print data['b']
print data[:,2]
print data.unstack()
print data.unstack().stack()

frame = DataFrame(np.arange(12).reshape((4, 3)), index=[['a', 'a', 'b', 'b'], [1, 2, 1, 2]],
                  columns=[['Ohio', 'Ohio', 'Colorado'], ['Green', 'Red', 'Green']])
frame.index.names = ['key1', 'key2']
frame.columns.names = ['state', 'color']
frame

MultiIndex(levels=[[u'a', u'b', u'c', u'd'], [1, 2, 3]],
           labels=[[0, 0, 0, 1, 1, 1, 2, 2, 3, 3], [0, 1, 2, 0, 1, 2, 0, 1, 1, 2]])
1    0.731748
2   -2.089894
3    1.280240
dtype: float64
a    1.202762
b   -2.089894
c    0.460741
d    0.389250
dtype: float64
          1         2         3
a  0.837986  1.202762 -0.756759
b  0.731748 -2.089894  1.280240
c  0.685610  0.460741       NaN
d       NaN  0.389250  0.836228
a  1    0.837986
   2    1.202762
   3   -0.756759
b  1    0.731748
   2   -2.089894
   3    1.280240
c  1    0.685610
   2    0.460741
d  2    0.389250
   3    0.836228
dtype: float64

state      Ohio     Colorado
color     Green Red    Green
key1 key2
a    1        0   1        2
     2        3   4        5
b    1        6   7        8
     2        9  10       11

In [68]:
# Reordering and Sorting Levels
frame.swaplevel('key1', 'key2').sortlevel('key2')
frame.swaplevel(0,1).sortlevel(0)
print frame.sum(level = 'key2')
print frame.sum(level = 'color', axis = 1)

state  Ohio     Colorado
color Green Red    Green
key2
1         6   8       10
2        12  14       16
color      Green  Red
key1 key2
a    1         2    1
     2         8    4
b    1        14    7
     2        20   10

In [70]:
# PROC SUMMARY, PIVOT: Using a DataFrame’s Columns
frame = DataFrame({'a': range(7), 'b': range(7, 0, -1),'c': ['one', 'one', 'one', 'two', 'two', 'two', 'two'],'d': [0, 1, 2, 0, 1, 2, 3]})
print frame
frame2 = frame.set_index(['c','d'])
print frame2
frame3 = frame2.reset_index()    # reset_index does the opposite of set_index; the hierarchical index levels are are moved into the columns

   a  b    c  d
0  0  7  one  0
1  1  6  one  1
2  2  5  one  2
3  3  4  two  0
4  4  3  two  1
5  5  2  two  2
6  6  1  two  3
       a  b
c   d
one 0  0  7
    1  1  6
    2  2  5
two 0  3  4
    1  4  3
    2  5  2
    3  6  1